.button-row button,
.button-row a {
  margin-right: 8px;
}
.divHacerPedido{
    background: rgba(117, 111, 111, 0.1);
    border-radius: 10px;
    padding: 10px;
    width: 300px;
}
form button{
    margin: 0 10px;
}
.sinOpciones{
    background: #fff;
    padding: 15px;
    border-radius: 10px;
    border: 3px inset;
    text-align: center;
}