<div class="divHacerPedido">
  <form *ngIf="ValorSeleccionado=='' && TpSnacks.length>0" (ngSubmit)="addOrder()" [formGroup]="ElegirSnackForm">
    <mat-form-field>
      <mat-select formControlName="tipoSnack" placeholder="Tipo de snack" required>
        <mat-option *ngFor="let snack of TpSnacks" [value]="snack.$key">
          {{snack.description}}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="ElegirSnackForm.get('tipoSnack').invalid">{{getErrorMessage("tipoSnack")}}</mat-error>
    </mat-form-field>
    <button type="submit" mat-raised-button color="primary" [disabled]="!ElegirSnackForm.valid">Elegir</button>
  </form>
  <div *ngIf="ValorSeleccionado!=''">
    <span> Snack Seleccionado: {{getTypeSnack(ValorSeleccionado)}} </span>
    <button mat-icon-button color="primary" (click)="delOrder()">
      <mat-icon aria-label="x">delete</mat-icon>
    </button>
  </div>
  <div class="sinOpciones" *ngIf="TpSnacks.length==0" >
      <span>Lo sentimos... pero primero se deben agregar las opciones de snacks disponibles..</span>
  </div>
</div>
