.example-radio-group {
    display: inline-flex;
    flex-direction: column;
  }
  .example-radio-button {
    margin: 5px;
  }
  
  .example-selected-value {
    margin: 15px 0;
  }
  h3{
      text-align: center;
  }
  .divBuyer{
    background: #fff;
    display: table;
    padding:10px;
    margin: 0 auto;
  }
  .divBuyer button{
    display: block;
    width: 100%;
    margin: 20px 0
  }