<mat-tab-group *ngIf="this.authService.isLoggedIn() && this.authService.tpUser==1">

  <mat-tab label="Elegir Comprador"> <app-choose-buyer></app-choose-buyer> </mat-tab>
  <mat-tab label="Cerrar Orden"></mat-tab>
  <mat-tab label="Administar Opciones"><app-crudoption></app-crudoption></mat-tab>
  <mat-tab label="Habilitar Orden"><app-enable-orders></app-enable-orders></mat-tab>
  <mat-tab label="Habilitar Usuario"><app-enable-user></app-enable-user> </mat-tab>
  <mat-tab label="Mi Orden"><app-my-order></app-my-order></mat-tab>
  <mat-tab label="Ver Ordenes"><app-show-order></app-show-order></mat-tab>

</mat-tab-group>

<div  *ngIf="this.authService.isLoggedIn() && this.authService.tpUser==0">
    <mat-chip-list class="mat-chip-list-stacked">
        <mat-chip *ngFor="let chip of availableColors" selected [color]="chip.color" id="message">
          {{chip.name}}
        </mat-chip>
      </mat-chip-list>
      <img src="nino.jpg" id="img">
</div>
